In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
hn_all = pd.read_spss('HN08_ALL.sav')

In [4]:
dxa = pd.read_spss('hn08_dxa.sav')

In [6]:
hn_all.rename(columns={'id' : 'ID'}, inplace= True)

In [7]:
hn_all

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,HW_ES_S1,HW_ES_E1,HW_ES_D1,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,24.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,23.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,,,NaN,,,NaN,NaN,8.0,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,23.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN

In [8]:
dxa

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,2019.03.06.,A448740903,2008.0,1.0,1.0,1.0,A448,2.0,70.0,2.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,2019.03.06.,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,2019.03.06.,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,2019.03.06.,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,2019.03.06.,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,2019.03.06.,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Check for overlapping columns
overlapping_columns = set(dxa.columns) & set(hn_all.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'ID', 'wt_ex', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp'}

In [13]:
dxa = dxa.drop(['apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d','wt_ex', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp'], axis=1)

In [14]:
dxa

,ID,kstrata0,DX_Q_ht,DX_Q_hsty,DX_Q_fall,DX_Q_fnm,DX_Q_MP,DX_TFM_A,DX_TFM_BMC,DX_TFM_BMD,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,A448440901,417.0,158.0,2.0,2.0,8888.0,8.0,46.28968,37.84831,0.81764,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,A448440902,417.0,167.0,2.0,2.0,8888.0,1.0,40.75341,28.02160,0.68759,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,A448680102,417.0,99999.9,2.0,1.0,3.0,2.0,31.38897,30.50394,0.97180,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,A448680501,417.0,161.0,2.0,2.0,8888.0,2.0,30.88658,29.70003,0.96158,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,A448740903,417.0,150.0,2.0,2.0,8888.0,1.0,36.05109,23.36204,0.64803,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,O452899801,431.0,170.0,1.0,2.0,8888.0,8.0,40.99647,30.14133,0.73522,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,O452899802,431.0,157.0,2.0,2.0,8888.0,2.0,31.90193,30.84173,0.96677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,O452900902,431.0,155.0,2.0,2.0,8888.0,1.0,36.32740,30.85988,0.84949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,O452980901,431.0,175.0,2.0,2.0,8888.0,8.0,44.16332,41.33545,0.93597,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,O452980902,431.0,162.0,2.0,2.0,8888.0,1.0,35.40374,26.35664,0.74446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
list1 = ['apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'ID', 'wt_ex', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp']

In [16]:
len(list1)

37

In [17]:
merged_df = hn_all.merge(dxa, on='ID', how='outer')

In [18]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
ent = pd.read_spss('hn08_ent.sav')

In [20]:
ent

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,T_dz_ex42,T_dz_ex42_t,T_dz_ex1,T_dz_ex1_t,T_dz_ex2,T_dz_ex2_t,T_dz_ex3,T_dz_ex3_t,T_dz_ex4,T_dz_ex4_t
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
4,2019.03.06.,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4947,2019.03.06.,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4948,2019.03.06.,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4949,2019.03.06.,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4950,2019.03.06.,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4951,2019.03.06.,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0

In [21]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(ent.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'wt_ex', 'ID', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp'}

In [22]:
ent = ent.drop(['apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'wt_ex', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp'], axis=1)

In [23]:
list1 = ['apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'wt_ex', 'ID', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp']
len(list1)

38

In [24]:
ent

,ID,T_ex,T_Q_DZ,T_Q_DZ1,T_Q_DZ2,T_Q_VC,T_Q_VC1,T_Q_HR,T_Q_HR1,T_Q_VN,...,T_dz_ex42,T_dz_ex42_t,T_dz_ex1,T_dz_ex1_t,T_dz_ex2,T_dz_ex2_t,T_dz_ex3,T_dz_ex3_t,T_dz_ex4,T_dz_ex4_t
0,A448440901,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
1,A448440902,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
2,A448680102,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
3,A448680501,1.0,8.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
4,A448680502,1.0,8.0,8.0,8.0,8.0,8.0,1.0,8.0,2.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4947,O452899801,1.0,1.0,2.0,2.0,2.0,8.0,1.0,8.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4948,O452899802,1.0,1.0,1.0,2.0,2.0,8.0,1.0,8.0,1.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4949,O452900902,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4950,O452980901,1.0,2.0,8.0,8.0,2.0,8.0,2.0,3.0,1.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4951,O452980902,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0

In [25]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
merged_df = merged_df.merge(ent, on='ID', how='outer')

In [27]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,T_dz_ex42,T_dz_ex42_t,T_dz_ex1,T_dz_ex1_t,T_dz_ex2,T_dz_ex2_t,T_dz_ex3,T_dz_ex3_t,T_dz_ex4,T_dz_ex4_t
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
eye = pd.read_spss('hn08_eye.sav')

In [29]:
eye

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,2019.03.06.,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4841,2019.03.06.,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4842,2019.03.06.,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4843,2019.03.06.,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4844,2019.03.06.,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4845,2019.03.06.,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [30]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(eye.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'wt_ex', 'ID', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp'}

In [31]:
eye = eye.drop(['apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'wt_ex','wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp'], axis=1)

In [32]:
eye

,ID,E_ex,E_Q_EX,E_Q_OUT,E_Q_OUT1,E_Q_FAM,E_Q_FAM1,E_Q_RM,E_Q_EXC,E_Q_EXC1,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,A448440901,1.0,2.0,1.0,2.0,2.0,888888,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,A448440902,1.0,2.0,1.0,1.0,2.0,888888,3.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,A448680102,1.0,3.0,1.0,1.0,2.0,888888,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,A448680501,1.0,3.0,1.0,1.0,1.0,2,1.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,A448680502,1.0,3.0,1.0,2.0,1.0,2,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4841,O452899801,1.0,4.0,1.0,2.0,1.0,2,1.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4842,O452899802,1.0,4.0,1.0,2.0,2.0,888888,3.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4843,O452900902,1.0,4.0,1.0,2.0,2.0,888888,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4844,O452980901,1.0,1.0,1.0,2.0,2.0,888888,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4845,O452980902,1.0,4.0,1.0,2.0,2.0,888888,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [34]:
list1 = ['apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'wt_ex', 'ID', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'ho_incm5', 'occp']
len(list1)

38

In [35]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,T_dz_ex42,T_dz_ex42_t,T_dz_ex1,T_dz_ex1_t,T_dz_ex2,T_dz_ex2_t,T_dz_ex3,T_dz_ex3_t,T_dz_ex4,T_dz_ex4_t
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
merged_df = merged_df.merge(eye, on='ID', how='outer')

In [37]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
ijmt = pd.read_spss('hn08_ijmt.sav')

In [39]:
ijmt

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_1_12,MP6_2_12,MP6_3_12,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,2019.03.06.,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276,2019.03.06.,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9277,2019.03.06.,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9278,2019.03.06.,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9279,2019.03.06.,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9280,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [40]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(ijmt.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'ID', 'wt_ex1pfnt', 'wt_ex', 'kstrata0', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'ho_incm5', 'wt_hmnt', 'kstrata1', 'incm5', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'town_t', 'incm', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'sex', 'occp'}

In [41]:
ijmt = ijmt.drop(['apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'wt_ex1pfnt', 'wt_ex', 'kstrata0', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'ho_incm5', 'wt_hmnt', 'kstrata1', 'incm5', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'town_t', 'incm', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'sex', 'occp'], axis=1)

In [42]:
ijmt

,ID,AC1_yr,AC3,AC3_1_01,AC3_2_01,AC4_1_01,AC4_2_01,AC4_3_01,AC4_4_01,AC4_5_01,...,MP6_1_12,MP6_2_12,MP6_3_12,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12
0,A448440901,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,A448440902,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,A448680102,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,A448680501,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,A448680502,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276,P451960905,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9277,P451980901,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9278,P451980902,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9279,P451980905,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9280,P451980906,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [43]:
list1 =['apt_t', 'year', 'wt_ex1pf', 'region', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'ID', 'wt_ex1pfnt', 'wt_ex', 'kstrata0', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'ho_incm5', 'wt_hmnt', 'kstrata1', 'incm5', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'town_t', 'incm', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'sex', 'occp']
len(list1)

38

In [44]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
merged_df = merged_df.merge(ijmt, on='ID', how='outer')

In [46]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_1_12,MP6_2_12,MP6_3_12,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [47]:
OE = pd.read_spss('hn08_OE.sav')

In [48]:
OE

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.03.06.,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9302,2019.03.06.,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9303,2019.03.06.,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9304,2019.03.06.,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9305,2019.03.06.,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9306,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [49]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(OE.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'O_DIP', 'O_DMFTP', 'year', 'wt_ex1pf', 'region', 'O_DTP', 'O_DFTD', 'O_DID', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'kstrata0', 'mod_d', 'wt_ex', 'ID', 'wt_ex1pfnt', 'O_DMFIP', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'O_DTD', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'O_DFID', 'ho_incm5', 'occp'}

In [50]:
OE = OE.drop(['apt_t', 'O_DIP', 'O_DMFTP', 'year', 'wt_ex1pf', 'region', 'O_DTP', 'O_DFTD', 'O_DID', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'kstrata0', 'mod_d', 'wt_ex','wt_ex1pfnt', 'O_DMFIP', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'O_DTD', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'O_DFID', 'ho_incm5', 'occp'], axis=1)

In [51]:
list1 = ['apt_t', 'O_DIP', 'O_DMFTP', 'year', 'wt_ex1pf', 'region', 'O_DTP', 'O_DFTD', 'O_DID', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'kstrata0', 'mod_d', 'wt_ex', 'ID', 'wt_ex1pfnt', 'O_DMFIP', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'O_DTD', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'O_DFID', 'ho_incm5', 'occp']
len(list1)

46

In [52]:
OE

,ID,O_PROS_U,O_PROS_L,O_IMP_U,O_IMP_L,O_Br_N_U,O_Br_N_L,O_Dent_U,O_Dent_L,O_F,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,A448440901,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A448440902,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A448680102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A448680501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A448680502,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9302,P451960905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9303,P451980901,5.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9304,P451980902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9305,P451980905,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9306,P451980906,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [53]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_1_12,MP6_2_12,MP6_3_12,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [54]:
merged_df = merged_df.merge(OE, on='ID', how='outer')

In [55]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [56]:
rc = pd.read_spss('hn08_24RC.sav')

In [57]:
rc

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [58]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(rc.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'N_DIET_WHY', 'N_WAT_C', 'year', 'wt_ex1pf', 'region', 'N_DIET', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'N_DT_DS', 'wt_ex', 'ID', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'N_DUSUAL', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'N_DAY', 'ho_incm5', 'occp'}

In [59]:
rc = rc.drop(['apt_t', 'N_DIET_WHY', 'N_WAT_C', 'year', 'wt_ex1pf', 'region', 'N_DIET', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'N_DT_DS', 'wt_ex','wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'N_DUSUAL', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'N_DAY', 'ho_incm5', 'occp'], axis=1)

In [60]:
rc

,ID,N_MEAL,N_MEAL_T,N_MEAL_P,N_MTYPE,N_DNAME,N_DCODE,N_CD_VOL,N_CD_WT,N_TD_VOL,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,A448440901,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,A448440901,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,A448440901,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,A448440901,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,A448440901,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,P451980906,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,P451980906,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,P451980906,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,P451980906,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,P451980906,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [61]:
list1 = ['apt_t', 'N_DIET_WHY', 'N_WAT_C', 'year', 'wt_ex1pf', 'region', 'N_DIET', 'wt_pfhm', 'wt_ex1hmnt', 'wt_ntr', 'wt_ex1nt', 'mod_d', 'kstrata0', 'N_DT_DS', 'wt_ex', 'ID', 'wt_ex1pfnt', 'wt_pfhmnt', 'wt_hs', 'wt_itv', 'wt_ex1', 'wt_tot', 'N_DUSUAL', 'kstrata1', 'wt_hmnt', 'incm5', 'sex', 'kstrata', 'wt_ex1hm', 'age', 'ho_incm', 'psu', 'wt_tot1nt', 'wt_hm', 'wt_pft', 'edu', 'incm', 'town_t', 'wt_pfnt', 'wt_itvex', 'wt_tot1', 'N_DAY', 'ho_incm5', 'occp']
len(list1)

44

In [62]:
test_df_inner =  merged_df.merge(rc, on='ID', how='inner')

In [63]:
test_df_inner

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [64]:
test_df_outer =  merged_df.merge(rc, on='ID', how='outer')

In [65]:
test_df_outer

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419736,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
419737,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
419738,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
419739,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
419740,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [66]:
test_df_left = merged_df.merge(rc, on='ID', how='left')

In [67]:
test_df_left

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419736,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
419737,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
419738,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
419739,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
419740,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [68]:
test_df_right =  merged_df.merge(rc, on='ID', how='right')

In [69]:
test_df_right

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [70]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [73]:
test_merged_df = pd.merge(merged_df, rc, on='ID', how='inner')

In [74]:
test_merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [77]:
inner_test = pd.merge(merged_df, rc)

In [78]:
inner_test

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [80]:
inner_test[inner_test['ID'] == 'A448440901']

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000,0.000,0.0,0.014035,0.004211,0.259649,0.000
1,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000,0.000,0.0,0.010316,0.002737,0.056842,0.000
2,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000,0.000,0.0,0.003205,0.001832,0.036632,0.000
3,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000,0.000,0.0,0.020877,0.013509,0.116667,0.000
4,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000,0.000,0.0,0.164035,0.059649,2.236842,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.220800,328.992000,220.800000,20.976,124.752,0.0,0.077280,0.027600,0.276000,10.488
63,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.660000,19.800000,566.280000,25.080,149.160,0.0,0.079200,0.066000,0.924000,33.000
64,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.024000,0.160000,0.240000,0.000,0.000,0.0,0.000000,0.000000,0.000000,0.000
65,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.128000,0.853333,96.000000,0.000,0.000,0.0,0.000533,0.005333,0.826667,0.000
66,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.032000,15.946667,32.480000,0.000,0.000,0.0,0.001600,0.000533,0.010667,0.000

In [81]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [82]:
merged_df.to_excel('2008_DATA.xlsx', index=False)

In [83]:
merged_df.to_csv('2008_DATA.csv', index=False)

In [ ]:
ㅊㅊ