In [1]:
import pandas as pd

In [2]:
hn_all = pd.read_spss('HN10_ALL.sav')

In [3]:
hn_all

,mod_d,id,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_FE,N_NA,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,16.168011,7700.147136,4889.722884,1442.317828,8410.947935,40.636889,1.551362,1.160234,14.902740,302.078958
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,11.643875,5290.916555,2745.907566,331.981979,1203.118204,109.254473,1.277699,1.184275,14.131862,50.702033
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,7.011724,2816.639475,1463.945700,240.616576,948.610489,82.484460,0.523133,0.766115,8.217986,39.511489
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,5.877152,1183.633015,1410.599423,104.881741,84.784175,110.651952,0.739844,0.869431,7.752621,82.259096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,6.251979,1290.204722,1472.190079,162.799216,182.547766,148.865131,1.211490,0.857966,10.361169,52.886191
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,15.897780,3782.087331,3136.324143,306.700942,1349.265389,56.079971,1.205168,0.971106,18.673687,125.990819
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,3.307649,1219.529103,1111.778903,133.076992,85.451455,16.335487,0.331503,0.684221,3.089316,8.409587

In [4]:
hn_all.rename(columns={'id' : 'ID'}, inplace= True)

In [5]:
hn_all

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_FE,N_NA,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,16.168011,7700.147136,4889.722884,1442.317828,8410.947935,40.636889,1.551362,1.160234,14.902740,302.078958
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,11.643875,5290.916555,2745.907566,331.981979,1203.118204,109.254473,1.277699,1.184275,14.131862,50.702033
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,7.011724,2816.639475,1463.945700,240.616576,948.610489,82.484460,0.523133,0.766115,8.217986,39.511489
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,5.877152,1183.633015,1410.599423,104.881741,84.784175,110.651952,0.739844,0.869431,7.752621,82.259096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,6.251979,1290.204722,1472.190079,162.799216,182.547766,148.865131,1.211490,0.857966,10.361169,52.886191
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,15.897780,3782.087331,3136.324143,306.700942,1349.265389,56.079971,1.205168,0.971106,18.673687,125.990819
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,3.307649,1219.529103,1111.778903,133.076992,85.451455,16.335487,0.331503,0.684221,3.089316,8.409587

In [6]:
dxa = pd.read_spss('hn10_dxa.sav')

In [7]:
dxa

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,10670.602160,25.282778,20788.68070,45312.70136,66101.38205,31.449691,21762.98081,49760.44560,71523.42642,30.427766
1,2019.03.06.,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,7801.567814,20.600572,13321.53717,35449.36686,48770.90402,27.314518,14125.31527,39133.40391,53258.71917,26.522071
2,2019.03.06.,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,12771.871050,22.276883,18252.41723,55307.33494,73559.75217,24.813049,19302.89681,59828.52006,79131.41688,24.393468
3,2019.03.06.,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,7815.950336,34.303129,16456.52730,30022.31272,46478.84003,35.406493,17277.20950,33590.54875,50867.75826,33.964952
4,2019.03.06.,A308199801,A3081998,2010.0,1.0,1.0,2.0,A308,1.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2019.03.06.,P311899805,P3118998,2010.0,16.0,1.0,1.0,P311,2.0,76.0,...,9191.148805,39.588620,32975.66677,35957.91168,68933.57845,47.836871,33872.77352,39665.70250,73538.47602,46.061294
7039,2019.03.06.,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,9158.644116,45.979226,21962.82642,27249.45147,49212.27789,44.628754,22829.63048,31051.77902,53881.40949,42.370143
7040,2019.03.06.,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,8360.471648,40.298251,20548.14130,46397.86982,66946.01112,30.693601,21495.67159,50790.56984,72286.24143,29.736878
7041,2019.03.06.,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,11170.674220,46.021365,23850.92486,33102.05616,56952.98102,41.878273,24863.37074,37645.88679,62509.25753,39.775502
7042,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,10620.876720,41.791736,19759.84786,32451.96503,52211.81288,37.845550,20618.90680,36227.95344,56846.86024,36.270969

In [8]:
# Check for overlapping columns
overlapping_columns = set(dxa.columns) & set(hn_all.columns)

# Print the overlapping columns
print(overlapping_columns)

{'wt_ntr', 'edu', 'ID', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region'}

In [9]:
list1 = ['wt_ntr', 'edu', 'ID', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region']
len(list1)

28

In [10]:
dxa = dxa.drop(['wt_ntr', 'edu', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region'], axis = 1)

In [11]:
dxa

,ID,kstrata0,DXW_ex,DX_Q_hsty,DX1_dg,DX1_pt,DX2_dg,DX2_1,DX2_1_1,DX_Q_ht,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,A308059801,501.0,3.0,1.0,2.0,8.0,2.0,888,,165.5,...,10670.602160,25.282778,20788.68070,45312.70136,66101.38205,31.449691,21762.98081,49760.44560,71523.42642,30.427766
1,A308059802,501.0,3.0,2.0,2.0,8.0,2.0,888,,154.0,...,7801.567814,20.600572,13321.53717,35449.36686,48770.90402,27.314518,14125.31527,39133.40391,53258.71917,26.522071
2,A308120201,501.0,3.0,2.0,8.0,8.0,8.0,888,,888.8,...,12771.871050,22.276883,18252.41723,55307.33494,73559.75217,24.813049,19302.89681,59828.52006,79131.41688,24.393468
3,A308120202,501.0,3.0,2.0,8.0,8.0,8.0,888,,888.8,...,7815.950336,34.303129,16456.52730,30022.31272,46478.84003,35.406493,17277.20950,33590.54875,50867.75826,33.964952
4,A308199801,501.0,1.0,1.0,2.0,8.0,2.0,888,,171.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,P311899805,532.0,3.0,1.0,1.0,1.0,2.0,888,,999.9,...,9191.148805,39.588620,32975.66677,35957.91168,68933.57845,47.836871,33872.77352,39665.70250,73538.47602,46.061294
7039,P311960703,532.0,3.0,2.0,8.0,8.0,8.0,888,,888.8,...,9158.644116,45.979226,21962.82642,27249.45147,49212.27789,44.628754,22829.63048,31051.77902,53881.40949,42.370143
7040,P311960704,532.0,3.0,2.0,8.0,8.0,8.0,888,,888.8,...,8360.471648,40.298251,20548.14130,46397.86982,66946.01112,30.693601,21495.67159,50790.56984,72286.24143,29.736878
7041,P311960902,532.0,3.0,2.0,8.0,8.0,8.0,888,,888.8,...,11170.674220,46.021365,23850.92486,33102.05616,56952.98102,41.878273,24863.37074,37645.88679,62509.25753,39.775502
7042,P311960904,532.0,3.0,2.0,8.0,8.0,8.0,888,,888.8,...,10620.876720,41.791736,19759.84786,32451.96503,52211.81288,37.845550,20618.90680,36227.95344,56846.86024,36.270969

In [12]:
hn_all

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,N_FE,N_NA,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,16.168011,7700.147136,4889.722884,1442.317828,8410.947935,40.636889,1.551362,1.160234,14.902740,302.078958
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,11.643875,5290.916555,2745.907566,331.981979,1203.118204,109.254473,1.277699,1.184275,14.131862,50.702033
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,7.011724,2816.639475,1463.945700,240.616576,948.610489,82.484460,0.523133,0.766115,8.217986,39.511489
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,5.877152,1183.633015,1410.599423,104.881741,84.784175,110.651952,0.739844,0.869431,7.752621,82.259096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,6.251979,1290.204722,1472.190079,162.799216,182.547766,148.865131,1.211490,0.857966,10.361169,52.886191
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,15.897780,3782.087331,3136.324143,306.700942,1349.265389,56.079971,1.205168,0.971106,18.673687,125.990819
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,3.307649,1219.529103,1111.778903,133.076992,85.451455,16.335487,0.331503,0.684221,3.089316,8.409587

In [13]:
merged_df = hn_all.merge(dxa, on='ID', how='outer')

In [14]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,10670.602160,25.282778,20788.68070,45312.70136,66101.38205,31.449691,21762.98081,49760.44560,71523.42642,30.427766
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,7801.567814,20.600572,13321.53717,35449.36686,48770.90402,27.314518,14125.31527,39133.40391,53258.71917,26.522071
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,12771.871050,22.276883,18252.41723,55307.33494,73559.75217,24.813049,19302.89681,59828.52006,79131.41688,24.393468
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,7815.950336,34.303129,16456.52730,30022.31272,46478.84003,35.406493,17277.20950,33590.54875,50867.75826,33.964952
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,9158.644116,45.979226,21962.82642,27249.45147,49212.27789,44.628754,22829.63048,31051.77902,53881.40949,42.370143
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,8360.471648,40.298251,20548.14130,46397.86982,66946.01112,30.693601,21495.67159,50790.56984,72286.24143,29.736878
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,11170.674220,46.021365,23850.92486,33102.05616,56952.98102,41.878273,24863.37074,37645.88679,62509.25753,39.775502
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,10620.876720,41.791736,19759.84786,32451.96503,52211.81288,37.845550,20618.90680,36227.95344,56846.86024,36.270969

In [15]:
ent = pd.read_spss('hn10_ent.sav')

In [16]:
ent

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,T_HRm_rt,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB
0,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,26.25,30.0,15.0,20.0,50.0,50.0,60.0,28.75,0.0,0.0
1,2019.03.06.,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,17.50,0.0,15.0,15.0,25.0,15.0,20.0,13.75,0.0,0.0
2,2019.03.06.,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,12.50,15.0,5.0,0.0,5.0,60.0,80.0,6.25,0.0,0.0
3,2019.03.06.,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,999.99,999.0,999.0,999.0,999.0,999.0,999.0,999.99,NaN,NaN
4,2019.03.06.,A308199801,A3081998,2010.0,1.0,1.0,2.0,A308,1.0,65.0,...,8.75,0.0,0.0,10.0,25.0,45.0,35.0,8.75,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8308,2019.03.06.,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,888.88,888.0,888.0,888.0,888.0,888.0,888.0,888.88,NaN,NaN
8309,2019.03.06.,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,2.50,15.0,-5.0,5.0,5.0,0.0,5.0,5.00,0.0,0.0
8310,2019.03.06.,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,10.00,0.0,0.0,0.0,0.0,15.0,5.0,0.00,0.0,0.0
8311,2019.03.06.,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,6.25,5.0,0.0,10.0,0.0,0.0,0.0,3.75,0.0,0.0
8312,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,10.00,15.0,10.0,5.0,5.0,0.0,15.0,8.75,0.0,0.0

In [17]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(ent.columns)

# Print the overlapping columns
print(overlapping_columns)

{'wt_ntr', 'edu', 'ID', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region'}

In [20]:
list1 = ['wt_ntr', 'edu', 'ID', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region']
len(list1)

29

In [21]:
ent = ent.drop(['wt_ntr', 'edu','sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region'], axis=1)

In [22]:
ent

,ID,T_ex,T_Q_ardg,T_Q_arpt,T_Q_DZ,T_Q_DZ1,T_Q_DZ2,T_Q_VC,T_Q_VC1,T_Q_HR,...,T_HRm_rt,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB
0,A308059801,1.0,2.0,8.0,2.0,8.0,8.0,1.0,2.0,1.0,...,26.25,30.0,15.0,20.0,50.0,50.0,60.0,28.75,0.0,0.0
1,A308059802,1.0,2.0,8.0,2.0,8.0,8.0,2.0,8.0,1.0,...,17.50,0.0,15.0,15.0,25.0,15.0,20.0,13.75,0.0,0.0
2,A308120201,1.0,2.0,8.0,8.0,8.0,8.0,2.0,8.0,1.0,...,12.50,15.0,5.0,0.0,5.0,60.0,80.0,6.25,0.0,0.0
3,A308120202,1.0,1.0,2.0,8.0,8.0,8.0,2.0,8.0,1.0,...,999.99,999.0,999.0,999.0,999.0,999.0,999.0,999.99,NaN,NaN
4,A308199801,1.0,2.0,8.0,1.0,2.0,2.0,2.0,8.0,1.0,...,8.75,0.0,0.0,10.0,25.0,45.0,35.0,8.75,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8308,P311960702,1.0,2.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,888.88,888.0,888.0,888.0,888.0,888.0,888.0,888.88,NaN,NaN
8309,P311960703,1.0,2.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,...,2.50,15.0,-5.0,5.0,5.0,0.0,5.0,5.00,0.0,0.0
8310,P311960704,1.0,2.0,8.0,2.0,8.0,8.0,2.0,8.0,1.0,...,10.00,0.0,0.0,0.0,0.0,15.0,5.0,0.00,0.0,0.0
8311,P311960902,1.0,2.0,8.0,8.0,8.0,8.0,2.0,8.0,1.0,...,6.25,5.0,0.0,10.0,0.0,0.0,0.0,3.75,0.0,0.0
8312,P311960904,1.0,2.0,8.0,8.0,8.0,8.0,8.0,8.0,1.0,...,10.00,15.0,10.0,5.0,5.0,0.0,15.0,8.75,0.0,0.0

In [23]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,10670.602160,25.282778,20788.68070,45312.70136,66101.38205,31.449691,21762.98081,49760.44560,71523.42642,30.427766
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,7801.567814,20.600572,13321.53717,35449.36686,48770.90402,27.314518,14125.31527,39133.40391,53258.71917,26.522071
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,12771.871050,22.276883,18252.41723,55307.33494,73559.75217,24.813049,19302.89681,59828.52006,79131.41688,24.393468
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,7815.950336,34.303129,16456.52730,30022.31272,46478.84003,35.406493,17277.20950,33590.54875,50867.75826,33.964952
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,9158.644116,45.979226,21962.82642,27249.45147,49212.27789,44.628754,22829.63048,31051.77902,53881.40949,42.370143
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,8360.471648,40.298251,20548.14130,46397.86982,66946.01112,30.693601,21495.67159,50790.56984,72286.24143,29.736878
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,11170.674220,46.021365,23850.92486,33102.05616,56952.98102,41.878273,24863.37074,37645.88679,62509.25753,39.775502
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,10620.876720,41.791736,19759.84786,32451.96503,52211.81288,37.845550,20618.90680,36227.95344,56846.86024,36.270969

In [24]:
merged_df = merged_df.merge(ent, on='ID', how='outer')

In [25]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,T_HRm_rt,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,26.25,30.0,15.0,20.0,50.0,50.0,60.0,28.75,0.0,0.0
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,17.50,0.0,15.0,15.0,25.0,15.0,20.0,13.75,0.0,0.0
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,12.50,15.0,5.0,0.0,5.0,60.0,80.0,6.25,0.0,0.0
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,999.99,999.0,999.0,999.0,999.0,999.0,999.0,999.99,NaN,NaN
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,888.88,888.0,888.0,888.0,888.0,888.0,888.0,888.88,NaN,NaN
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,2.50,15.0,-5.0,5.0,5.0,0.0,5.0,5.00,0.0,0.0
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,10.00,0.0,0.0,0.0,0.0,15.0,5.0,0.00,0.0,0.0
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,6.25,5.0,0.0,10.0,0.0,0.0,0.0,3.75,0.0,0.0
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,10.00,15.0,10.0,5.0,5.0,0.0,15.0,8.75,0.0,0.0

In [26]:
eye = pd.read_spss('hn10_eye.sav')

In [27]:
eye

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019.03.06.,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019.03.06.,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019.03.06.,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.03.06.,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8136,2019.03.06.,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
8137,2019.03.06.,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
8138,2019.03.06.,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8139,2019.03.06.,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8140,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [28]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(eye.columns)

# Print the overlapping columns
print(overlapping_columns)

{'wt_ntr', 'edu', 'ID', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region'}

In [29]:
list1 = ['wt_ntr', 'edu', 'ID', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region']
len(list1)

29

In [30]:
eye = eye.drop(['wt_ntr', 'edu','sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfnt', 'wt_pfhm', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region'], axis=1)

In [31]:
eye

,ID,E_ex,E_Q_EX,E_Q_SUN,E_Q_FAM,E_Q_FAM1,E_Q_RM,E_Q_EXC,E_Q_EXC1,E_BL_v,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,A308059801,1.0,1.0,1.0,2.0,888888,4.0,8.0,888888,115.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A308059802,1.0,1.0,1.0,2.0,888888,2.0,8.0,888888,134.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A308120201,1.0,5.0,2.0,2.0,888888,4.0,8.0,888888,88.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A308120202,1.0,4.0,2.0,2.0,888888,2.0,8.0,888888,87.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A308120203,1.0,8.0,8.0,8.0,888888,8.0,2.0,888888,8888.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8136,P311960702,1.0,8.0,8.0,8.0,888888,8.0,2.0,888888,8888.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
8137,P311960703,1.0,2.0,8.0,2.0,888888,1.0,8.0,888888,8888.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
8138,P311960704,1.0,2.0,1.0,2.0,888888,2.0,8.0,888888,115.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8139,P311960902,1.0,3.0,1.0,2.0,888888,2.0,8.0,888888,75.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8140,P311960904,1.0,2.0,8.0,2.0,888888,4.0,8.0,888888,8888.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [32]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,T_HRm_rt,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,26.25,30.0,15.0,20.0,50.0,50.0,60.0,28.75,0.0,0.0
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,17.50,0.0,15.0,15.0,25.0,15.0,20.0,13.75,0.0,0.0
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,12.50,15.0,5.0,0.0,5.0,60.0,80.0,6.25,0.0,0.0
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,999.99,999.0,999.0,999.0,999.0,999.0,999.0,999.99,NaN,NaN
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,888.88,888.0,888.0,888.0,888.0,888.0,888.0,888.88,NaN,NaN
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,2.50,15.0,-5.0,5.0,5.0,0.0,5.0,5.00,0.0,0.0
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,10.00,0.0,0.0,0.0,0.0,15.0,5.0,0.00,0.0,0.0
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,6.25,5.0,0.0,10.0,0.0,0.0,0.0,3.75,0.0,0.0
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,10.00,15.0,10.0,5.0,5.0,0.0,15.0,8.75,0.0,0.0

In [33]:
merged_df = merged_df.merge(eye, on='ID', how='outer')

In [34]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [35]:
ijmt = pd.read_spss('hn10_ijmt.sav')

In [36]:
ijmt

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,MP4_7_01,MP4_7_02,MP4_7_03,MP4_7_04,MP4_7_05,MP4_7_06,MP4_7_07,MP4_7_08,MP4_7_09,MP4_7_10
0,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,,,,,,,,,,
1,2019.03.06.,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,,,,,,,,,,
2,2019.03.06.,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,,,,,,,,,,
3,2019.03.06.,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,,,,,,,,,,
4,2019.03.06.,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8468,2019.03.06.,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,,,,,,,,,,
8469,2019.03.06.,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,,,,,,,,,,
8470,2019.03.06.,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,,,,,,,,,,
8471,2019.03.06.,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,,,,,,,,,,
8472,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,,,,,,,,,,

In [37]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(ijmt.columns)

# Print the overlapping columns
print(overlapping_columns)

{'wt_ntr', 'edu', 'ID', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfhm', 'wt_pfnt', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region'}

In [38]:
list1 = ['wt_ntr', 'edu', 'ID', 'sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfhm', 'wt_pfnt', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region']
len(list1)

29

In [39]:
ijmt = ijmt.drop(['wt_ntr', 'edu','sex', 'incm5', 'wt_pft', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'age', 'incm', 'wt_hmnt', 'wt_itvex', 'age_month', 'wt_pfhmnt', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfhm', 'wt_pfnt', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region'], axis=1)

In [40]:
ijmt

,ID,AC1_yr,AC3,AC3_1_01,AC3_1_02,AC3_1_03,AC3_2_01,AC3_2_02,AC3_2_03,AC3_3_01,...,MP4_7_01,MP4_7_02,MP4_7_03,MP4_7_04,MP4_7_05,MP4_7_06,MP4_7_07,MP4_7_08,MP4_7_09,MP4_7_10
0,A308059801,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
1,A308059802,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
2,A308120201,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
3,A308120202,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
4,A308120203,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8468,P311960702,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
8469,P311960703,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
8470,P311960704,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
8471,P311960902,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,
8472,P311960904,2.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,,,,,,,,,,

In [41]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [42]:
merged_df = merged_df.merge(ijmt, on='ID', how='outer')

In [43]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,MP4_7_01,MP4_7_02,MP4_7_03,MP4_7_04,MP4_7_05,MP4_7_06,MP4_7_07,MP4_7_08,MP4_7_09,MP4_7_10
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,,,,,,,,,,
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,,,,,,,,,,
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,,,,,,,,,,
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,,,,,,,,,,
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,,,,,,,,,,
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,,,,,,,,,,
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,,,,,,,,,,
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,,,,,,,,,,
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,,,,,,,,,,

In [44]:
OE = pd.read_spss('hn10_OE.sav')

In [45]:
OE

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,O_DENT_U,O_DENT_L,O_F,O_CPI_UR,O_CPI_UM,O_CPI_UL,O_CPI_LR,O_CPI_LM,O_CPI_LL,NO_CPI_34
0,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019.03.06.,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,0.0,0.0,NaN,8.0,0.0,8.0,8.0,2.0,8.0,0.0
2,2019.03.06.,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019.03.06.,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.03.06.,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8468,2019.03.06.,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8469,2019.03.06.,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8470,2019.03.06.,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,0.0,0.0,NaN,0.0,2.0,0.0,3.0,2.0,0.0,1.0
8471,2019.03.06.,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8472,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0

In [46]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(OE.columns)

# Print the overlapping columns
print(overlapping_columns)

{'wt_ntr', 'edu', 'O_DTD', 'O_DTP', 'O_pain', 'ID', 'O_DFID', 'wt_pft', 'incm5', 'sex', 'O_TMJ', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'O_DID', 'age', 'incm', 'O_ortho', 'wt_hmnt', 'O_DMFTP', 'wt_itvex', 'age_month', 'O_DFTD', 'wt_pfhmnt', 'O_DIP', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfhm', 'wt_pfnt', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region', 'O_DMFIP'}

In [47]:
list1 = ['wt_ntr', 'edu', 'O_DTD', 'O_DTP', 'O_pain', 'ID', 'O_DFID', 'wt_pft', 'incm5', 'sex', 'O_TMJ', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'O_DID', 'age', 'incm', 'O_ortho', 'wt_hmnt', 'O_DMFTP', 'wt_itvex', 'age_month', 'O_DFTD', 'wt_pfhmnt', 'O_DIP', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfhm', 'wt_pfnt', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region', 'O_DMFIP']
len(list1)

40

In [48]:
OE = OE.drop(['wt_ntr', 'edu', 'O_DTD', 'O_DTP', 'O_pain','O_DFID', 'wt_pft', 'incm5', 'sex', 'O_TMJ', 'kstrata', 'year', 'ho_incm', 'psu', 'wt_hm', 'ID_fam', 'apt_t', 'O_DID', 'age', 'incm', 'O_ortho', 'wt_hmnt', 'O_DMFTP', 'wt_itvex', 'age_month', 'O_DFTD', 'wt_pfhmnt', 'O_DIP', 'wt_tot', 'kstrata0', 'ho_incm5', 'wt_pfhm', 'wt_pfnt', 'mod_d', 'occp', 'town_t', 'wt_hs', 'region', 'O_DMFIP'], axis=1)

In [49]:
OE

,ID,O_55B,O_55D,O_55O,O_55M,O_55L,O_54B,O_54D,O_54O,O_54M,...,O_DENT_U,O_DENT_L,O_F,O_CPI_UR,O_CPI_UM,O_CPI_UL,O_CPI_LR,O_CPI_LM,O_CPI_LL,NO_CPI_34
0,A308059801,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A308059802,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,NaN,8.0,0.0,8.0,8.0,2.0,8.0,0.0
2,A308120201,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A308120202,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A308120203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8468,P311960702,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8469,P311960703,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8470,P311960704,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,NaN,0.0,2.0,0.0,3.0,2.0,0.0,1.0
8471,P311960902,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8472,P311960904,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0

In [50]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,MP4_7_01,MP4_7_02,MP4_7_03,MP4_7_04,MP4_7_05,MP4_7_06,MP4_7_07,MP4_7_08,MP4_7_09,MP4_7_10
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,,,,,,,,,,
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,,,,,,,,,,
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,,,,,,,,,,
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,,,,,,,,,,
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,,,,,,,,,,
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,,,,,,,,,,
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,,,,,,,,,,
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,,,,,,,,,,
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,,,,,,,,,,

In [51]:
merged_df = merged_df.merge(OE, on='ID', how='outer')

In [52]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,O_DENT_U,O_DENT_L,O_F,O_CPI_UR,O_CPI_UM,O_CPI_UL,O_CPI_LR,O_CPI_LM,O_CPI_LL,NO_CPI_34
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,0.0,0.0,NaN,8.0,0.0,8.0,8.0,2.0,8.0,0.0
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,0.0,0.0,NaN,0.0,2.0,0.0,3.0,2.0,0.0,1.0
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0

In [53]:
rc = pd.read_spss('hn10_24RC.sav')

In [54]:
rc

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,NS_CODE,NS_MACH,NS_CA,NS_PHOS,NS_FE,NS_VA,NS_B1,NS_B2,NS_NIAC,NS_VITC
0,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019.03.06.,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476959,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476960,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476961,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476962,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476963,2019.03.06.,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
merged_df.to_csv('2010_Data.csv')

In [59]:
merged_df.to_csv('2010_DATA.csv', index=False)

In [58]:
merged_df.to_excel('2010_DATA.xlsx', index=False)

In [61]:
merged_df.to_csv('2010_DATA.csv', index=False)

In [62]:
merged_df

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,O_DENT_U,O_DENT_L,O_F,O_CPI_UR,O_CPI_UM,O_CPI_UL,O_CPI_LR,O_CPI_LM,O_CPI_LL,NO_CPI_34
0,2022.03.08,A308059801,A3080598,2010.0,1.0,1.0,2.0,A308,1.0,61.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A308059802,A3080598,2010.0,1.0,1.0,2.0,A308,2.0,54.0,...,0.0,0.0,NaN,8.0,0.0,8.0,8.0,2.0,8.0,0.0
2,2022.03.08,A308120201,A3081202,2010.0,1.0,1.0,2.0,A308,1.0,33.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A308120202,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,33.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A308120203,A3081202,2010.0,1.0,1.0,2.0,A308,2.0,4.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,2022.03.08,P311960702,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,6.0,...,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8954,2022.03.08,P311960703,P3119607,2010.0,16.0,1.0,1.0,P311,2.0,13.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8955,2022.03.08,P311960704,P3119607,2010.0,16.0,1.0,1.0,P311,1.0,47.0,...,0.0,0.0,NaN,0.0,2.0,0.0,3.0,2.0,0.0,1.0
8956,2022.03.08,P311960902,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,20.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0
8957,2022.03.08,P311960904,P3119609,2010.0,16.0,1.0,1.0,P311,2.0,15.0,...,0.0,0.0,NaN,0.0,0.0,0.0,0.0,2.0,0.0,0.0